{
  "openapi": "3.1.0",
  "info": {
    "title": "FlyHub Virtual Airlines API",
    "version": "2026-07-21",
    "description": "The supported Virtual Airlines integration contract. The public resources are read-only and scoped to the airline that issued the fhva_live bearer key. The webhook entries describe the Discord-compatible notification payload sent for selected airline activity."
  },
  "servers": [
    {
      "url": "https://flyhub.app",
      "description": "FlyHub production API"
    }
  ],
  "tags": [
    {
      "name": "public-api",
      "description": "Read-only resources for airline websites, dashboards, and private integrations.",
      "x-group": "Public VA API"
    },
    {
      "name": "discord-webhooks",
      "description": "Ownership controls and event payloads for Discord notifications.",
      "x-group": "Discord webhooks"
    }
  ],
  "paths": {
    "/api/v1/va/airline": {
      "get": {
        "tags": [
          "public-api"
        ],
        "summary": "Read the airline profile",
        "description": "Returns the profile attached to the bearer key. The airline is derived from the key; no airline ID can be supplied by the caller. This resource is not paginated.",
        "operationId": "getVaAirline",
        "security": [
          {
            "vaApiKey": []
          }
        ],
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/airline",
          "metadata": {
            "title": "Read airline profile",
            "sidebarTitle": "Airline profile"
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AirlineResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/va/pilots": {
      "get": {
        "tags": [
          "public-api"
        ],
        "summary": "List active airline pilots",
        "description": "Returns active airline memberships with pilot statistics. Suspended, rejected, left, and removed memberships are excluded. Results are ordered by joinedAt from oldest to newest.",
        "operationId": "listVaPilots",
        "security": [
          {
            "vaApiKey": []
          }
        ],
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/pilots",
          "metadata": {
            "title": "List active airline pilots",
            "sidebarTitle": "Pilots"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PilotsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/va/flights": {
      "get": {
        "tags": [
          "public-api"
        ],
        "summary": "List airline flight activity",
        "description": "Returns airline logbook activity, newest first. Inspect each status: a row records airline flight activity and is not automatically a successful completion.",
        "operationId": "listVaFlights",
        "security": [
          {
            "vaApiKey": []
          }
        ],
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/flights",
          "metadata": {
            "title": "List airline flight activity",
            "sidebarTitle": "Flights"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FlightsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/va/fleet": {
      "get": {
        "tags": [
          "public-api"
        ],
        "summary": "List active fleet aircraft",
        "description": "Returns non-retired aircraft associated with the airline, ordered by registration. This is a public snapshot and does not expose fleet-management actions.",
        "operationId": "listVaFleet",
        "security": [
          {
            "vaApiKey": []
          }
        ],
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/fleet",
          "metadata": {
            "title": "List active fleet aircraft",
            "sidebarTitle": "Fleet"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/FleetResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/va/schedules": {
      "get": {
        "tags": [
          "public-api"
        ],
        "summary": "List published airline schedules",
        "description": "Returns schedules with active or suspended status, ordered by flight number. Operating-day masks are Monday-first and all date checks in Virtual Airlines use UTC.",
        "operationId": "listVaSchedules",
        "security": [
          {
            "vaApiKey": []
          }
        ],
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/schedules",
          "metadata": {
            "title": "List published airline schedules",
            "sidebarTitle": "Schedules"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SchedulesResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/va/statistics": {
      "get": {
        "tags": [
          "public-api"
        ],
        "summary": "Read aggregate airline statistics",
        "description": "Returns one aggregate object. It is not paginated, so use it for summary cards rather than as a substitute for the detail resources.",
        "operationId": "getVaStatistics",
        "security": [
          {
            "vaApiKey": []
          }
        ],
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/statistics",
          "metadata": {
            "title": "Read aggregate airline statistics",
            "sidebarTitle": "Statistics"
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatisticsResponse"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    }
  },
  "webhooks": {
    "flightBooked": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "flight.booked — Flight booked",
        "description": "FlyHub sends this Discord embed when a flight booking is recorded. The embed may include status, flight number, route, aircraft, pilot, tracking mode, and load when available.",
        "operationId": "discordFlightBooked",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/flight-booked",
          "metadata": {
            "sidebarTitle": "flight.booked",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "flightCancelled": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "flight.cancelled — Flight cancelled",
        "description": "FlyHub sends this Discord embed when a flight instance is cancelled. The embed may include state, reason, flight number, route, aircraft, and planned times.",
        "operationId": "discordFlightCancelled",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/flight-cancelled",
          "metadata": {
            "sidebarTitle": "flight.cancelled",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "flightCompleted": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "flight.completed — Flight completed",
        "description": "FlyHub sends this Discord embed when a flight result is accepted. The embed may include route, aircraft, pilot, tracking, load, distance, block time, landing rate, score, and settlement context.",
        "operationId": "discordFlightCompleted",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/flight-completed",
          "metadata": {
            "sidebarTitle": "flight.completed",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "flightRejected": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "flight.rejected — Flight rejected",
        "description": "FlyHub sends this Discord embed when a flight result is rejected. The embed may include classification, rejection reason, route, aircraft, pilot, performance, and score.",
        "operationId": "discordFlightRejected",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/flight-rejected",
          "metadata": {
            "sidebarTitle": "flight.rejected",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotApplied": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.applied — Application received",
        "description": "FlyHub sends this Discord embed when a pilot application is received and remains pending.",
        "operationId": "discordPilotApplied",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-applied",
          "metadata": {
            "sidebarTitle": "pilot.applied",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotJoined": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.joined — Pilot joined",
        "description": "FlyHub sends this Discord embed when a pilot becomes active in the airline.",
        "operationId": "discordPilotJoined",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-joined",
          "metadata": {
            "sidebarTitle": "pilot.joined",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotRejected": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.rejected — Application rejected",
        "description": "FlyHub sends this Discord embed when a pilot application or membership is rejected.",
        "operationId": "discordPilotRejected",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-rejected",
          "metadata": {
            "sidebarTitle": "pilot.rejected",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotSuspended": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.suspended — Pilot suspended",
        "description": "FlyHub sends this Discord embed when an active pilot is suspended.",
        "operationId": "discordPilotSuspended",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-suspended",
          "metadata": {
            "sidebarTitle": "pilot.suspended",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotRestored": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.restored — Pilot restored",
        "description": "FlyHub sends this Discord embed when a suspended pilot becomes active again.",
        "operationId": "discordPilotRestored",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-restored",
          "metadata": {
            "sidebarTitle": "pilot.restored",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotLeft": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.left — Pilot left",
        "description": "FlyHub sends this Discord embed when a pilot leaves the airline.",
        "operationId": "discordPilotLeft",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-left",
          "metadata": {
            "sidebarTitle": "pilot.left",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotRemoved": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.removed — Pilot removed",
        "description": "FlyHub sends this Discord embed when a manager removes a pilot.",
        "operationId": "discordPilotRemoved",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-removed",
          "metadata": {
            "sidebarTitle": "pilot.removed",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "pilotRoleChanged": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "pilot.role_changed — Pilot role changed",
        "description": "FlyHub sends this Discord embed when a pilot's airline role changes.",
        "operationId": "discordPilotRoleChanged",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/pilot-role-changed",
          "metadata": {
            "sidebarTitle": "pilot.role_changed",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "fleetChanged": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "fleet.changed — Fleet changed",
        "description": "FlyHub sends this Discord embed when an aircraft or its operating state changes. The embed may include registration, type, station, status, condition, maintenance state, hours, and cycles.",
        "operationId": "discordFleetChanged",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/fleet-changed",
          "metadata": {
            "sidebarTitle": "fleet.changed",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "scheduleChanged": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "schedule.changed — Schedule changed",
        "description": "FlyHub sends this Discord embed when a published route or schedule changes. The embed may include flight number, route, operation type, days, block time, eligible aircraft, and status.",
        "operationId": "discordScheduleChanged",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/schedule-changed",
          "metadata": {
            "sidebarTitle": "schedule.changed",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "financeFlightSettled": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "finance.flight_settled — Flight settled",
        "description": "FlyHub sends this Discord embed when a flight settlement is recorded. It can include flight context, net result, and currency; it is not a complete accounting export.",
        "operationId": "discordFinanceFlightSettled",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/finance-flight-settled",
          "metadata": {
            "sidebarTitle": "finance.flight_settled",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    },
    "announcementPublished": {
      "post": {
        "tags": [
          "discord-webhooks"
        ],
        "summary": "announcement.published — Announcement published",
        "description": "FlyHub sends this Discord embed when airline content is published. The embed includes the public content kind, version, and publication status when available.",
        "operationId": "discordAnnouncementPublished",
        "x-hidden": true,
        "x-mint": {
          "href": "/virtual-airlines-draft/api/webhooks/announcement-published",
          "metadata": {
            "sidebarTitle": "announcement.published",
            "playground": "none"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscordWebhookPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Discord accepted the notification."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "vaApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "fhva_live_...",
        "description": "A read-only FlyHub VA API key created from Ownership. Keep it on your integration server."
      }
    },
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Requested page size. The API uses 25 by default, accepts 1–100, and caps larger values at 100. Invalid values fall back to the default.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "Number of records to skip. The API uses 0 by default and caps values at 10000.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 10000,
          "default": 0
        }
      }
    },
    "headers": {
      "CacheControl": {
        "description": "The response is private and should not be stored as a shared cache entry.",
        "schema": {
          "type": "string",
          "example": "private, no-store"
        }
      },
      "RateLimitLimit": {
        "description": "Requests allowed in the current public API window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Requests remaining in the current public API window.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitReset": {
        "description": "ISO timestamp when the public API request window resets.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "RetryAfter": {
        "description": "Seconds to wait before retrying after a rate limit.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "required": [
          "apiVersion"
        ],
        "properties": {
          "apiVersion": {
            "type": "string",
            "example": "2026-07-21"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": [
          "offset",
          "limit",
          "total"
        ],
        "properties": {
          "offset": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "Airline": {
        "type": "object",
        "required": [
          "name",
          "shortName",
          "slug",
          "summary",
          "icaoCode",
          "callsign",
          "homeIcao",
          "homeCountryCode",
          "status",
          "businessModel",
          "applicationMode",
          "pilotCount",
          "fleetCount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "shortName": {
            "type": [
              "string",
              "null"
            ]
          },
          "slug": {
            "type": "string"
          },
          "summary": {
            "type": [
              "string",
              "null"
            ]
          },
          "icaoCode": {
            "type": "string"
          },
          "callsign": {
            "type": [
              "string",
              "null"
            ]
          },
          "homeIcao": {
            "type": [
              "string",
              "null"
            ]
          },
          "homeCountryCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "distress",
              "restructuring"
            ]
          },
          "businessModel": {
            "type": [
              "string",
              "null"
            ]
          },
          "applicationMode": {
            "type": [
              "string",
              "null"
            ]
          },
          "pilotCount": {
            "type": "integer",
            "minimum": 0
          },
          "fleetCount": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pilot": {
        "type": "object",
        "required": [
          "displayName",
          "rank",
          "joinedAt",
          "lastActivityAt",
          "completedFlights",
          "completedHours",
          "contributionPoints",
          "reliabilityScore",
          "lastFlightAt"
        ],
        "properties": {
          "displayName": {
            "type": "string"
          },
          "rank": {
            "type": [
              "string",
              "null"
            ]
          },
          "joinedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastActivityAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "completedFlights": {
            "type": "integer",
            "minimum": 0
          },
          "completedHours": {
            "type": "number",
            "minimum": 0
          },
          "contributionPoints": {
            "type": "number",
            "minimum": 0
          },
          "reliabilityScore": {
            "type": "number"
          },
          "lastFlightAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Flight": {
        "type": "object",
        "required": [
          "status",
          "flightNumber",
          "originIcao",
          "destinationIcao",
          "aircraftRegistration",
          "aircraftTypeIcao",
          "offBlockAt",
          "onBlockAt",
          "blockMinutes",
          "distanceNm",
          "score",
          "virtualPeriod"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "flightNumber": {
            "type": "string"
          },
          "originIcao": {
            "type": "string"
          },
          "destinationIcao": {
            "type": "string"
          },
          "aircraftRegistration": {
            "type": [
              "string",
              "null"
            ]
          },
          "aircraftTypeIcao": {
            "type": [
              "string",
              "null"
            ]
          },
          "offBlockAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "onBlockAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "blockMinutes": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "distanceNm": {
            "type": "number",
            "minimum": 0
          },
          "score": {
            "type": [
              "number",
              "null"
            ]
          },
          "virtualPeriod": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "FleetAircraft": {
        "type": "object",
        "required": [
          "registration",
          "displayName",
          "aircraftTypeIcao",
          "ownershipType",
          "operationalStatus",
          "currentIcao",
          "conditionPercent",
          "maintenanceState",
          "airframeHours",
          "airframeCycles",
          "availableFrom",
          "maintenanceDueAt",
          "acquiredAt",
          "updatedAt"
        ],
        "properties": {
          "registration": {
            "type": "string"
          },
          "displayName": {
            "type": [
              "string",
              "null"
            ]
          },
          "aircraftTypeIcao": {
            "type": "string"
          },
          "ownershipType": {
            "type": "string"
          },
          "operationalStatus": {
            "type": "string"
          },
          "currentIcao": {
            "type": [
              "string",
              "null"
            ]
          },
          "conditionPercent": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "maintenanceState": {
            "type": "string"
          },
          "airframeHours": {
            "type": "number",
            "minimum": 0
          },
          "airframeCycles": {
            "type": "integer",
            "minimum": 0
          },
          "availableFrom": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "maintenanceDueAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "acquiredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Schedule": {
        "type": "object",
        "required": [
          "flightNumber",
          "originIcao",
          "destinationIcao",
          "operationType",
          "operatingDaysMask",
          "plannedBlockMinutes",
          "eligibleAircraftTypes",
          "status",
          "version",
          "validFrom",
          "validUntil",
          "updatedAt"
        ],
        "properties": {
          "flightNumber": {
            "type": "string"
          },
          "originIcao": {
            "type": [
              "string",
              "null"
            ]
          },
          "destinationIcao": {
            "type": [
              "string",
              "null"
            ]
          },
          "operationType": {
            "type": [
              "string",
              "null"
            ]
          },
          "operatingDaysMask": {
            "type": "integer",
            "minimum": 1,
            "maximum": 127,
            "description": "Monday=1, Tuesday=2, Wednesday=4, Thursday=8, Friday=16, Saturday=32, Sunday=64."
          },
          "plannedBlockMinutes": {
            "type": "integer",
            "minimum": 0
          },
          "eligibleAircraftTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ]
          },
          "version": {
            "type": "integer",
            "minimum": 1
          },
          "validFrom": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "validUntil": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Statistics": {
        "type": "object",
        "required": [
          "completedFlights",
          "completedHours",
          "activePilots",
          "fleetSize",
          "activeSchedules",
          "contributionPoints",
          "averageReliabilityScore"
        ],
        "properties": {
          "completedFlights": {
            "type": "integer",
            "minimum": 0
          },
          "completedHours": {
            "type": "number",
            "minimum": 0
          },
          "activePilots": {
            "type": "integer",
            "minimum": 0
          },
          "fleetSize": {
            "type": "integer",
            "minimum": 0
          },
          "activeSchedules": {
            "type": "integer",
            "minimum": 0
          },
          "contributionPoints": {
            "type": "number",
            "minimum": 0
          },
          "averageReliabilityScore": {
            "type": [
              "number",
              "null"
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "AllowedMentions": {
        "type": "object",
        "required": [
          "parse"
        ],
        "properties": {
          "parse": {
            "type": "array",
            "maxItems": 0,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DiscordEmbedField": {
        "type": "object",
        "required": [
          "name",
          "value",
          "inline"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 256
          },
          "value": {
            "type": "string",
            "maxLength": 1024
          },
          "inline": {
            "type": "boolean"
          }
        }
      },
      "DiscordEmbed": {
        "type": "object",
        "required": [
          "title",
          "description",
          "fields",
          "footer",
          "timestamp"
        ],
        "properties": {
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string"
          },
          "color": {
            "type": "integer"
          },
          "fields": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/DiscordEmbedField"
            }
          },
          "footer": {
            "type": "object",
            "properties": {
              "text": {
                "type": "string"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DiscordWebhookPayload": {
        "type": "object",
        "required": [
          "username",
          "allowed_mentions",
          "embeds"
        ],
        "properties": {
          "username": {
            "type": "string",
            "description": "Airline ICAO code followed by Operations."
          },
          "allowed_mentions": {
            "$ref": "#/components/schemas/AllowedMentions"
          },
          "embeds": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "$ref": "#/components/schemas/DiscordEmbed"
            }
          }
        }
      }
    },
    "responses": {
      "AirlineResponse": {
        "description": "Airline profile returned.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/CacheControl"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Airline"
                },
                "meta": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      },
      "PilotsResponse": {
        "description": "Paginated active pilot roster.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/CacheControl"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "pagination",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Pilot"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                },
                "meta": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      },
      "FlightsResponse": {
        "description": "Paginated airline flight activity.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/CacheControl"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "pagination",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Flight"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                },
                "meta": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      },
      "FleetResponse": {
        "description": "Paginated non-retired fleet snapshot.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/CacheControl"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "pagination",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FleetAircraft"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                },
                "meta": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      },
      "SchedulesResponse": {
        "description": "Paginated active and suspended schedules.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/CacheControl"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "pagination",
                "meta"
              ],
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Schedule"
                  }
                },
                "pagination": {
                  "$ref": "#/components/schemas/Pagination"
                },
                "meta": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      },
      "StatisticsResponse": {
        "description": "Aggregate airline statistics.",
        "headers": {
          "Cache-Control": {
            "$ref": "#/components/headers/CacheControl"
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "data",
                "meta"
              ],
              "properties": {
                "data": {
                  "$ref": "#/components/schemas/Statistics"
                },
                "meta": {
                  "$ref": "#/components/schemas/Meta"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "A valid FlyHub VA API key is required.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The key does not include the required read scope.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The request rate is temporarily limited.",
        "headers": {
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "FlyHub cannot safely serve the request at the moment.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
